.header{
    text-align: left;
    width: 300px;
    height: 100px;
    margin: 0px 153px;
}

.leftDiv{
    text-align: left;
    opacity: 0.3;
    width: 400px;
}

.faqWrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 153px;
    margin-right: 153px;
    margin-bottom: 100px;
}

.accordWrapper{

}