@import url('./fonts/Inter-4.0/web/inter.css');

:root {
  --color-black: #121212;
  --color-white: #FFFFFF;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
*{
  margin: 0;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  background-color: var(--color-black);
  color: var(--color-white);
}

p,
h1,h2,h3,h4,h5,h6{
  overflow-wrap: break-word;
}

input,button,textarea,select{
  font: inherit;
}

#root,#__next{
  isolation: isolate;
}